@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&display=swap');
​ html {
    font-family: 'Libre Franklin', sans-serif;
}

​ body {
    margin: 0;
    color: #5c5346;
}

​ header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8c6057;
}

​ header h1,
header h2 {
    color: #f0f2ef;
}

​ header h1 {
    display: inline-block;
    margin: 30px 10px 30px 124px;
}

​ a {
    text-decoration: none;
}

​ nav {
    display: inline;
    margin-right: 30px;
}

​ nav ul li {
    display: inline;
    margin-right: 10px;
}

​ nav li a {
    color: #f0f2ef;
}

​ main {
    width: 80%;
    margin: auto;
}

​ main ul li {
    margin: 0 10px 10px 0;
}

​ div {
    margin-bottom: 20px;
}

​ input {
    margin-top: 10px;
}

​ .code {
    color: purple;
}

​ .btn {
    border: #8c6057 solid 1px;
    border-radius: 2px;
    padding: 2px;
    background-color: #8c6057;
    color: #f0f2ef;
}

​ .btn:hover {
    color: purple;
    background-color: #f0f2ef;
}

​ .tictac {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    text-align: center;
}

​ .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 0;
    font-size: 5em;
}

​ .box:first-child,
.box:nth-child(4),
.box:nth-child(7) {
    border-left: none;
}

​ .box:last-child,
.box:nth-child(3),
.box:nth-child(6) {
    border-right: none;
}

​ .box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

​ .box:nth-child(7),
.box:nth-child(8),
.box:last-child {
    border-bottom: none;
}

@media screen and (max-width: 420px) {
    header h1 {
        margin-left: 25px;
    }
    a {
        margin-bottom: 5px;
    }
}